## Statistics 1

#### 1. You survey households in your area to find the average rent they are paying. Find the  standard deviation from the given data.

In [1]:
import pandas as pd

In [2]:
rent = [1500,1700,900,850,1000,950]

df = pd.DataFrame(rent)
df

      0
0  1500
1  1700
2   900
3   850
4  1000
5   950

In [6]:
print('The standard deviation is:', df.std(ddof=0)) #Degree of freedom is 0 otherwise the denominator will be N-1 instead of N.

The standard deviation is: 0    326.598632
dtype: float64

#### 2. Find the variance for the following set of data representing trees in California (heights in feet): 3, 21, 98, 203, 17, 9

In [7]:
#Using numpy
import numpy as np
Tree_height = [3,21,98,203,17,9]

print('The variance is:', np.var(Tree_height))

The variance is: 5183.25

#### 3. In a class on 100 students, 80 students passed in all subjects, 10 failed in one subject, 7 failed in two subjects and 3 failed in three subjects. Find the probability distribution of the variable for number of subjects a student from the given class has failed in.

In [8]:
#The probability of failing in 0 subjects, P(X=0) = 80/100 = 0.8
#The probability of failing in 1 subjects, P(X=1) = 10/100 = 0.1
#The probability of failing in 2 subjects, P(X=2) = 7/100 = 0.07
#The probability of failing in 3 subjects, P(X=3) = 3/100 = 0.03

list=[0.1,0.03,0.7,0.8]
df = pd.DataFrame(list)
df

      0
0  0.10
1  0.03
2  0.70
3  0.80